.container_detail{
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  padding-bottom: 30px;
}

.row{
  justify-content: center;
  padding: 5px 0px;
  margin: 0px auto;
  text-align: center;  
}

.col-sm-6 img{
  width: 70%;
  margin: 0px auto;
  padding-bottom: 30px;
}

.col-sm-4 h5{
  padding-top: 30px;
  padding-bottom: 20px;
  
}

.product-info {
  padding-top: 20px;
  border-top: 1px dashed $brown;
 }

.product-info p{
  padding-top: 10px;
  text-align: justify;
 }

@media only screen and (min-width:$media-small) {
  .container_detail{
    padding-bottom: 50px; 
  }

  .row{ 
    padding: 20px 0px; 
  }
  
  
  .col-sm-4{
    padding-top: 15%;
    
  }
  
  .col-sm-4 h4,h5{
    text-align: left;
    
  }
  
  .col-sm-6 img{
    width: 90%;
    margin: 0px auto;
  }
  
  .product-info{
   padding: 10px 50px;
  }
}