.section-newsletter {
  margin-top: 30px;
  padding: 80px 0;
  background: $second-accent-dark;
  }
  
  .section-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}
.section-newsletter .input-group {
  max-width: 650px;
  margin: 0 auto;
  padding: 10px 30px;
}

  .section-newsletter .single h2 {
  color: $light-color;
  margin-bottom: 40px; 
  line-height: 42px;
  padding: 10px 30px;
}

  .section-newsletter .single .form-control {
  height: 50px;
  background: ($light-color 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }

  .section-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color:$second-accent-light;
 }

  .section-newsletter .single .btn {
  min-height: 50px; 
  border-radius: 0 20px 20px 0;
  background: $second-accent-light;
  color:$light-color ;
  }

  .section-newsletter .single .btn:hover {
    background: #647497;;
    }