
h1,h2,h3,h4,h5,h6,p,q,b{
  color: $dark-brown;
  line-height: 1.6;
}

h1,h2,h3 {
  font-family: $font-family-cinzel;
 
}

h4,h5,h6 {
  font-family: $font-family-lato; 
}

h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
 
}

h3 {
  font-size: 24px;
  font-weight: 800;
  margin: 0px;
  letter-spacing: 1px;
  
}

h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
  letter-spacing: 1px;
  
}

h5 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}
h6 {
  font-size: 16px;
  font-weight: 300;
  word-spacing: 6px;
  letter-spacing: 1px;
  color: $light-color;
}


p,q {
  font-family: $font-family-montserrat;
  font-weight: 400;
  margin: 0px;
  padding: 0px 0px;
 
}
b{
  font-weight: 500;
}

a { 
  cursor: pointer;
}

@media only screen and (min-width:$media-medium) {
  h2{
    font-size: 28px;
  }
}

@media only screen and (min-width:$media-xs-large) {
  p,q{
    font-size: 17px;
  }
}

